In [1]:
import pandas as pd

In [2]:
#setting the dara directory
df= './data/smartwatches.csv'
df = pd.read_csv(df)


#code to remove duplicates from the given data
df.drop_duplicates(subset=None, keep='first', inplace=True)

In [3]:
#viewing the data in tabular format ( top 5)
df.head()

,Unnamed: 0,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,0,noise,82990.0,89900.0,7.686318,4.0,65.0,Wrb-sw-colorfitpro4alpha-std-rgld_pnk,NaN,NaN,NaN,NaN,8.0,Yes,NaN,35 - 50 g
1,1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,BSW046,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,50 - 75 g
2,2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Wave Call,NaN,NaN,Silicon,Yes,8.0,Yes,1.7 inches,35 - 50 g
3,3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,BSW053,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,75g +
4,4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Wrb-sw-colorfitpulsegobuzz-std-blk_blk,NaN,NaN,Other,Yes,8.0,Yes,1.7 inches,35 - 50 g

1. Unnamed: 0--->remove

In [4]:
df.shape #will give the shape of the data: pretty small dataset!!

(450, 16)

In [5]:
train_df= df.sample(frac=0.8, random_state=42) #will give us 80% data for training

test_df=df.drop(train_df.index) #will give us 20% data for testing

In [6]:
#resetting our inded

train_df=train_df.reset_index()
test_df=test_df.reset_index()

In [7]:
print( train_df.shape, test_df.shape)

(360, 17) (90, 17)

In [8]:
train_df.dtypes

index                    int64
Unnamed: 0               int64
Brand                   object
Current Price          float64
Original Price         float64
Discount Percentage    float64
Rating                 float64
Number OF Ratings      float64
Model Name              object
Dial Shape              object
Strap Color             object
Strap Material          object
Touchscreen             object
Battery Life (Days)    float64
Bluetooth               object
Display Size            object
Weight                  object
dtype: object

In [9]:
train_df.isna().sum() #will give sum of all null values in the data

index                    0
Unnamed: 0               0
Brand                    0
Current Price            6
Original Price          56
Discount Percentage     56
Rating                   4
Number OF Ratings       45
Model Name              30
Dial Shape             100
Strap Color            100
Strap Material          56
Touchscreen             31
Battery Life (Days)     30
Bluetooth                5
Display Size            27
Weight                 149
dtype: int64

In [10]:
train_df.info() #will give the info of the data, now the indexes are refreshed ffor the following

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                360 non-null    int64
 1   Unnamed: 0           360 non-null    int64
 2   Brand                360 non-null    object
 3   Current Price        354 non-null    float64
 4   Original Price       304 non-null    float64
 5   Discount Percentage  304 non-null    float64
 6   Rating               356 non-null    float64
 7   Number OF Ratings    315 non-null    float64
 8   Model Name           330 non-null    object
 9   Dial Shape           260 non-null    object
 10  Strap Color          260 non-null    object
 11  Strap Material       304 non-null    object
 12  Touchscreen          329 non-null    object
 13  Battery Life (Days)  330 non-null    float64
 14  Bluetooth            355 non-null    object
 15  Display Size         333 non-null    object
 16  Weight               211 non-null    object
dtypes: float64(6), int64(2), object(9)
memory usage: 47.9+ KB

In [11]:
numerical_data=[feature for feature in train_df.columns if train_df[feature].dtype!=object] #ye wo data hai jo mathematcal operations support krta hai, statistical anakysis are avaiable here!!
categorical_data=[feature for feature in train_df.columns if train_df[feature].dtype==object] #ye wo data jiski visualizatoion, pie-chart and bar plots se hoti hai, ye groups/categories me hoti hai basically with common features

In [12]:
numerical_data, categorical_data

(['index',
  'Unnamed: 0',
  'Current Price',
  'Original Price',
  'Discount Percentage',
  'Rating',
  'Number OF Ratings',
  'Battery Life (Days)'],
 ['Brand',
  'Model Name',
  'Dial Shape',
  'Strap Color',
  'Strap Material',
  'Touchscreen',
  'Bluetooth',
  'Display Size',
  'Weight'])

In [13]:
train_df[numerical_data].describe() #will give the statistical analysis of the numerical data

,index,Unnamed: 0,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Battery Life (Days)
count,360.000000,360.000000,354.000000,304.000000,304.000000,356.000000,315.000000,330.000000
mean,222.702778,222.702778,12514.378531,14415.835526,47.955347,4.027528,10671.815873,14.181970
std,130.632905,130.632905,16914.978666,15613.457236,24.696899,0.556828,27575.956948,7.661878
min,0.000000,0.000000,1199.000000,1669.000000,-79.688436,1.000000,1.000000,0.750000
25%,111.750000,111.750000,2126.000000,5999.000000,33.177427,3.900000,55.000000,8.000000
50%,222.500000,222.500000,3999.000000,7994.500000,53.068408,4.100000,830.000000,17.500000
75%,336.250000,336.250000,17367.250000,17996.000000,66.677780,4.300000,7576.500000,22.000000
max,448.000000,448.000000,98990.000000,96390.000000,91.004550,5.000000,275607.000000,22.000000

In [14]:
train_df[numerical_data].corr() #will give the correlation between the numerical data

,index,Unnamed: 0,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Battery Life (Days)
index,1.000000,1.000000,-0.100146,-0.084262,-0.123792,-0.247504,-0.187509,0.371223
Unnamed: 0,1.000000,1.000000,-0.100146,-0.084262,-0.123792,-0.247504,-0.187509,0.371223
Current Price,-0.100146,-0.100146,1.000000,0.971497,-0.602668,0.397179,-0.195773,0.030352
Original Price,-0.084262,-0.084262,0.971497,1.000000,-0.479494,0.325818,-0.180650,-0.132527
Discount Percentage,-0.123792,-0.123792,-0.602668,-0.479494,1.000000,-0.191073,0.235221,-0.011792
Rating,-0.247504,-0.247504,0.397179,0.325818,-0.191073,1.000000,0.085250,-0.102289
Number OF Ratings,-0.187509,-0.187509,-0.195773,-0.180650,0.235221,0.085250,1.000000,0.009617
Battery Life (Days),0.371223,0.371223,0.030352,-0.132527,-0.011792,-0.102289,0.009617,1.000000

# Explanation of Skewness

## Negative Skewness (Left-Skewed)

- The left tail (smaller values) is longer or fatter than the right tail.
- Most of the data values are concentrated on the right with a few smaller values on the left.

## Positive Skewness (Right-Skewed)

- The right tail (larger values) is longer or fatter than the left tail.
- Most of the data values are concentrated on the left with a few larger values on the right.

## Zero Skewness (Symmetric)

- The tails on both sides of the mean are approximately equal in length.

In [15]:
train_df[numerical_data].skew() #will give the skewness of the data

index                  0.012368
Unnamed: 0             0.012368
Current Price          2.301689
Original Price         2.734265
Discount Percentage   -0.983632
Rating                -1.589043
Number OF Ratings      5.467630
Battery Life (Days)   -0.190298
dtype: float64

In [16]:
train_df[categorical_data].describe() #will give the statistical analysis of the categorical data

,Brand,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Bluetooth,Display Size,Weight
count,360,330,260,260,304,329,355,333,211
unique,18,311,6,28,14,2,2,34,5
top,fire-boltt,ring,Circle,Black,Silicon,Yes,Yes,1.7 inches,20 - 35 g
freq,45,4,101,102,197,312,352,56,63

In [18]:
#all those steps performed above can be done using a simple package, panndas profiling

import ydata_profiling as ydp

In [23]:
profile = ydp.ProfileReport(train_df, title="Train Data Profile Report", explorative=True)
profile.to_file("train_data_profile_report.html")

C:\Users\Piyush\AppData\Roaming\Python\Python311\site-packages\ydata_profiling\profile_report.py:363: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\ProgramData\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:5445: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
c:\ProgramData\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:5445: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]